{
  "AllowedHosts": "turleyrichards.com;www.turleyrichards.com",
  "App": {
    "BaseUrl": "https://turleyrichards.com"
  },
  "AdminAuth": {
    "Username": "",
    "PasswordHash": ""
  },
  "Turnstile": {
    "SiteKey": "",
    "SecretKey": ""
  },
  "Email": {
    "SmtpHost": "",
    "SmtpPort": "587",
    "Username": "",
    "Password": "",
    "FromAddress": "",
    "FromName": "Amari Music",
    "AdminNotificationAddress": ""
  }
}
